table {
  width: 100%;
}




/************* CSS FOR PDF FILE ****************/


.document {
  display: flex;
  justify-content: space-between;
}

.page {
  width: 48%;
  padding: 20px;
  border: 2px solid #000;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-content img {
  max-width: 100px; /* Adjust the size as per your need */
  height: auto;
}

.header-content p {
  margin: 0; /* Remove any margin from the text */
  text-align: center;
  flex-grow: 1;
}

.header-text {
  text-align: center;
  margin-top: -22px; /* Reduce the gap between content */
}

.header img {
  object-fit: contain; /* Ensures images fit well */
}


.content {
  margin-bottom: 20px;
}

.content p {
  margin: 2px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: white;
}

tfoot {
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer p {
  margin: 5px 0;
}

.signatures {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signature {
  width: 45%;
  height: 40px;
  border-top: 1px solid #000;
  text-align: center;
  line-height: 40px;
}
/* ********************************************** */