<div class="container" style="border: 1px solid lightgray;border-radius: 1%;">
    <div class="row">
        <div class="col" style="background-color: lightgray;border-radius: 1%;font-size: 2vw;">
            <br>
            बिल भरना यादी
            <br><br>
        </div>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="अनु.क्र.">
            <th mat-header-cell *matHeaderCellDef> अनु.क्र. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="मालमत्ता क्रमांक">
            <th mat-header-cell *matHeaderCellDef> मालमत्ता क्रमांक </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="नाव">
            <th mat-header-cell *matHeaderCellDef> नाव </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="बिल महिना">
            <th mat-header-cell *matHeaderCellDef> बिल महिना </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="भरलेली रक्कम">
            <th mat-header-cell *matHeaderCellDef> भरलेली रक्कम </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="मागील बाकी">
            <th mat-header-cell *matHeaderCellDef> मागील बाकी </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="बिल भरणा दिनांक">
            <th mat-header-cell *matHeaderCellDef> बिल भरणा दिनांक </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <button style="border: 1px solid lightgray;">पावती दुरुस्ती</button>    
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>