<!-- <div class="sidebar">
    <br>
    <a class="active" href="#home">ठळक माहिती</a>
    <a href="property_new">मालमत्ता</a>
    <a href="report_menu">नमुना(रिपोर्ट्स)</a>
    <a href="grampanchayat_detail">ग्रामपंचायत माहिती</a>
    <a href="send_notification">सूचना पाठवा</a>
    <a href="property_ratecard">दर तक्ता</a>
    <a href="user_list">उपयोक्ता यादी</a>
    <a href="#about">Logout</a>
  </div> -->



  <div class="sidebar">
    <br>
    <!-- <a [ngClass]="{'active': currentRoute === '/highlight'}" routerLink="/highlight">ठळक माहिती</a> -->
    <a [ngClass]="{'active': currentRoute === '/property_new'}" routerLink="/property_new">मालमत्ता</a>
    <a [ngClass]="{'active': currentRoute === '/property_list'}" routerLink="/property_list">मालमत्ता यादी</a>
    <a [ngClass]="{'active': currentRoute === '/report_menu'}" routerLink="/report_menu">नमुना(रिपोर्ट्स)</a>
    <a [ngClass]="{'active': currentRoute === '/grampanchayat_detail'}" routerLink="/grampanchayat_detail">ग्रामपंचायत माहिती</a>
    <!-- <a [ngClass]="{'active': currentRoute === '/send_notification'}" routerLink="/send_notification">सूचना पाठवा</a> -->
    <a [ngClass]="{'active': currentRoute === '/property_ratecard'}" routerLink="/property_ratecard">दर तक्ता</a>
    <!-- <a [ngClass]="{'active': currentRoute === '/user_list'}" routerLink="/user_list">उपयोक्ता यादी</a> -->
    <a routerLink="/login">Logout</a>
  </div>
  


  
  
  
  