<form>
    <div class="container" style="border: 1px solid lightgray;border-radius: 1%;">
        <div class="row">
            <div class="col" style="background-color: lightgray;border-radius: 1%;font-size: 1vw;">
                ग्रामपंचायत माहिती
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="row mb-12">
                    <label for="a_building_type" class="col-sm-3 col-form-label"><b>ग्रामपंचायतीचे नाव</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row mb-12">
                    <label for="a_building_type" class="col-sm-3 col-form-label"><b>पंचायत समिती</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row mb-12">
                    <label for="a_building_type" class="col-sm-3 col-form-label"><b>तहसिल</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row mb-12">
                    <label for="a_building_type" class="col-sm-3 col-form-label"><b>जिल्हा</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            
        </div>

        <hr>

        <div class="row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-primary">साठवने</button>
            </div>
        </div>
        <br>
    </div>
</form>